<h2>Register Form</h2>
<form #form="ngForm" (ngSubmit)="register(form)">
  <mat-form-field>
    <mat-label>Username</mat-label>
    <input matInput name="username" ngModel placeholder="Username">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput name="password" ngModel placeholder="*******" type="password">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Confirm password</mat-label>
    <input matInput name="confirmPassword" ngModel placeholder="*******" type="password">
  </mat-form-field>

  <button mat-raised-button>Register</button>
</form>
