<nav>
    <button mat-raised-button color="primary" routerLink="/contacts">Contacts</button>
    <ng-container *ngIf="!((this.user$ | async)?.isLogged); else logoutTmpl">
      <button mat-raised-button color="primary" routerLink="/login">Login</button>
      <button mat-raised-button color="primary" routerLink="/register">Register</button>
    </ng-container>
</nav>

<ng-template #logoutTmpl>
  <h3>User: {{(this.user$ | async)?.username}}</h3>
  <button mat-raised-button color="secondary" (click)="logout()">Logout</button>
</ng-template>

<router-outlet></router-outlet>
